.mobile-menu{

    position:fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: #ffff;
    width: 100%;
    height: 100vh;
opacity: 0;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-hidden{
    opacity: 1;
    pointer-events: auto;
}
.mobile-menu_btn{
padding: 0;
position: absolute;
background-color: #ffff;
border: none;
top: 21px;
right: 25px;
&:focus{
  fill: #2196f3;

}
&:hover{
fill: #2196f3;
}
}
.mabile-menu_container{
position: relative;
  justify-content:space-between;
  align-items: center;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 48px;

}
.mabile-menu_container a{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 47px;
letter-spacing: 0.02em;
color: #212121;
  text-decoration: none;
}
.header-list_mobile{
  font-size: 40px;
  margin-bottom: 306px;
 
}
.header-list_mobile a{
  margin-bottom:32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
    color: #2196f3;
 
  }
&:hover{
  color: #2196f3;
}
}
.header-network_mobile{
  display:flex;
}

@media screen and (min-width:100px) {
    
    .hero {
        background: #C4C4C4;
        color: #ffff;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/Img_fon_@1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;

        }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
          background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/Img_fon_@2x.jpg);
        }
      }
      
    .hero {
        max-width: 100%;
        max-height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        }
      .hero-container{
        padding:118px 0;
        text-align: center;
      }
      .hero h1 {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 320px;
        align-items: center;
      
        
      }
          .hero__button-cap {
            background-color: $accent_color;
            color: #ffff;
            font-family: inherit;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            align-items: center;
            letter-spacing: 0.06em;
            transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            border: none;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
              border-radius: 4px;
              &:hover{
                color: $accent_color;
              }
              &:focus{
                color: $accent_color;
              }
            }
    .mabile-menu_container{
        width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
   }
   
    .line{
      border-left: 1px solid rgba(33, 33, 33, 0.2);
      height: 22px;
      padding-left: 10px;
    }
    .line:first-child{
      margin-left: 10px;
    }
    .header-network_mobile a{
      max-width:100%;
      color: #2196f3;
    }
    .header-list a.header-list__cap-studio {
      color: #2196f3;
    }
    .header-list a.header-list__cap-portfolio{
      color:#2196f3;
    }
    .header-list_mobile a.header-list__cap-studio {
      color: #2196f3;
    }
    .header-list_mobile a.header-list__cap-portfolio{
      color:#2196f3;
    }
  }
  @media screen and (max-width:767px) {
  .header-contacts__icon-cap .header-contacts__cap-tel{
    color: #2196f3;
    font-size: 34px;
   }
   .header-contacts__icon-cap .header-contacts__cap-mailto{
       font-size: 24px; 
       color: #757575;
   }
  
  }
  /* +768px */
  @media screen and (min-width:768px) {
    .hero {
        background: #C4C4C4;
        color: #ffff;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/Img_fon_768@1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;

        }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
          background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_fon_768@2x.jpg);
        }
      }
      
    .mabile-menu_container{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    }
    .page-header a {
        margin-right: 88px;
        color: #212121;
        font-family: $additionnal_font, sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
        &:hover{
          color: $accent_color;
        }
        &:focus{
          color: $accent_color;
        }
      }
      .page-header {
        display:flex;
        align-items: center;
        margin: 0;
        padding: 0;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    .header-list a:hover,
  .header-list a :focus {
    color:$accent_color;}
  .header-list{
    display:flex;
    padding: 0;
    margin: 0;
   
  }
  .header-list ul {
    padding-left: 93px;
    
  }
  .header-list li:not(:last-child) {
    margin-right: 50px;
  }
  .header-list a {
    position: relative;
    display :block;
    color:#212121;
    font-family: $main_font, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 0;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  
  .header-list__cap-studio:after{
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  }
  .header-list__cap-portfolio::after{
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  }
  
  .header-contacts{
    display:block;
    padding: 0;
    margin: 0;
    margin-left: auto;
    align-items: center;
    margin-left: 90px;
    
    
  }
  .header-contacts ul {
   padding: 0;
   margin: 0;
  }
  .header-contacts li:not(:last-child) {
    margin-right: 0px;
   
    
  }
  
  .header-contacts a {
    display: block;
    color: #757575;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
   
   
  } 
  .header-contacts__icon-cap a{
      display: flex;
      padding-top: 10px;
      align-items: center;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      fill: #757575;
     
      
    }
    .header-contacts__cap-tel{
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus{
        fill: #2196f3;
        color: #2196f3;
      
      }
    &:hover{
      fill: #2196f3;
     color: #2196f3;
    }
    }
    .header-contacts__cap-mailto{
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus{
        color:#2196f3;
        fill: #2196f3;
      }
    &:hover{
      color:#2196f3;
      fill: #2196f3;
    }
    }     
  
    .header-contacts__icon-envelope{
      padding: 0;
      margin: 0;
      width: 16px;
      height: 12px;
     margin-right: 10px;
     align-items: center;
     
    }
    .header-contacts__icon-phone{
      padding: 0;
      margin: 0;
      width: 10px;
      height: 16px;
     margin-right: 10px;
     align-items:center
    }
   
    
  }
  /* +1200px */
  @media screen and (min-width:1200px) {
    .hero {
        
        background: #C4C4C4;
        color: #ffff;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/Img_fon_1200@1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        margin: auto; 
        }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
          background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/Img_fon_1200@2x.jpg);
        }
      }
   
      .hero h1 {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 696px;
        align-items: center;
      
        
      }
      
      .hero-container{
        padding:0 ;
        text-align: center;
      }
      .hero__button-cap {
        background-color: $accent_color;
        color: #ffff;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        letter-spacing: 0.06em;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border: none;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
          border-radius: 4px;
          &:hover{
            color: $accent_color;
          }
          &:focus{
            color: $accent_color;
          }
      }
      .container {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
 
      .mabile-menu_container{
        width: 1200px;
        }
.header-contacts{
    display:-webkit-box;
    padding: 0;
    margin: 0;
    margin-left: auto;
    align-items: center;
    
    
  }
  .header-contacts ul {
   padding: 0;
   margin: 0;
  }
  .header-contacts li:not(:last-child) {
    margin-right: 50px;
   
    
  }
  .header-contacts a {
    display: block;
    color: #757575;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
   
   
  } 
  .header-contacts__icon-cap a{
      display: flex;
      padding-top: 32px;
      padding-bottom: 32px;
      align-items: center;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      fill: #757575;
     
      
    }
    .header-contacts__cap-tel{
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus{
        fill: #2196f3;
        color: #2196f3;
      
      }
    &:hover{
      fill: #2196f3;
     color: #2196f3;
    }
    }
    .header-contacts__cap-mailto{
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus{
        color:#2196f3;
        fill: #2196f3;
      }
    &:hover{
      color:#2196f3;
      fill: #2196f3;
    }
    }     
  
    .header-contacts__icon-envelope{
      padding: 0;
      margin: 0;
      width: 16px;
      height: 12px;
     margin-right: 10px;
     align-items: center;
     
    }
    .header-contacts__icon-phone{
      padding: 0;
      margin: 0;
      width: 10px;
      height: 16px;
     margin-right: 10px;
     align-items:center
    }
    .page-header a {
        margin-right: 93px;
        color: #212121;
        font-family: $additionnal_font, sans-serif;
        font-weight: 700;
        font-size: 26px;
        text-decoration: none;
        &:hover{
          color: $accent_color;
        }
        &:focus{
          color: $accent_color;
        }
      }
      .page-header {
        display:flex;
        align-items: center;
        margin: 0;
        padding: 0;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    .header-list a:hover,
.header-list a :focus {
  color:$accent_color;}
.header-list{
  display: flex;
  padding: 0;
  margin: 0;
 
}
.header-list ul {
  padding-left: 93px;
  
}
.header-list li:not(:last-child) {
  margin-right: 50px;
}
.header-list a {
  position: relative;
  display :block;
  color:#212121;
  font-family: $main_font, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.header-list__cap-studio:after{
  content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
}
.header-list__cap-portfolio::after{
  content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
}

  
}